{% extends 'base.html' %}
{% block title %}Q&A Page{% endblock %}
{% block content %}
    <h1>배출후기</h1>
    {% for post in postlist %}
      <div class="item" style="padding-top: 15px;">
        <p style="text-align: left; font-size: 0.8em;">
          <img src="{{ post.post_image.url }}" style="width: 180px; height: 150px;" alt=""> <br>
          <span style="font-weight: bold;"><a href="{% url 'qna:posting' post.pk %}">{{ post.post_title }}</a></span> <br>
      </p>
      </div>
    {% endfor %}

        {% if user.is_authenticated %}
            <button><a href="{% url 'qna:new_post' %}">글쓰기</a></button>
        {% else %}
            로그인하신 분만 글쓰기 가능능
       {% endif %}

{% endblock %}